#body{
    background-color: #ffffff00;
    width: 100%;
    height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
#chatBtn {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
}

.btns{
    background-color: #fff;
    color: black;
    height: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 4px solid #A9B5DF;
    width: 17rem;
    background-color: #bbc4e6;
}

#create-icon{
    font-size: 1.5rem;
}

.btns:hover{
    cursor: pointer;
    background-color: #A9B5DF;
    color: #fff;
}

#create-icon{
    background-image: url("./src/create-icon.png");
}

button#createBtn{
    width: 17rem;
}

button#joinBtn{
    width: 8rem;
}

.btns:active{
    height: 4.5rem;
}

button#joinBtn:active{
    width: 8.5rem;
}

button#createBtn:active{
    width: 17.5rem;
}


#createForm,#joinForm{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 20rem;
    min-height: 15rem;
    gap: 1.5rem;
    position: relative;
    top: -45px;
     background: #cac7c7;
    width: 320px;
    height: 30px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,4);
    
    
    }
.login-box {
    background: #4f4f4f13;
    width: 320px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,4);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
    cursor:default;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .25s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}


.login-box form #login {
    margin: 0 auto;
    display: flex;
    height: 20px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    margin-top: 1px;
    margin-bottom: 12px;
    letter-spacing: 4px;
    background-color: transparent;
    border: none;

}

.login-box form a:hover {
    color: #000000;
    transition: 5ms;
    cursor:pointer;
}
.F{
    display: flex;
    text-decoration: none;
    color: #000000;
    justify-content: center;

}
#cross , #cross2{
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.5rem;
    color: black;
    cursor: pointer;
}
.text{
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    cursor: default;
 }

#button-17{
    align-items: center;
    background-color: #00000000;
    border-radius: 25px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 10px;
    font-size: 14px;
    height: 48px;
    padding: 2px 24px;
    top: 50%;
    left: 50%;


  }
  
 #button-17:hover {
    background: #e9ebef;
    color: #2f2f2f;
  }
  #logout:hover{
    background-color: #e9ebef;
  }
  #button-17:focus{
    height: 40px;
    padding: 2px 20px;
  }
  
 #logout{
    position: absolute;
    bottom: 10px;  
    right: 10px;
    align-items: center;
    background-color: #00000000;
    border-radius: 25px;
    border-style: none;
    box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    margin-left: 37%;
    margin-top: 10px;
    font-size: 14px;
    height: 48px;
    padding: 2px 24px;
    
 }
 #profile{
    border: 3px solid #000000;
    height: 70px;
    width: 70px;
    border-radius:50% ;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
 }