

#login-box,
#signup-box {

    background: #4f4f4f13;
    width: 320px;
    height: 350px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,4);
}

 h2 {
    margin: 0 0 30px;
    padding: 0;
    font-size: 30px;
    color: #000000;
    text-align: center;
    cursor:default;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-size: 19px;
    color: #000000;
    pointer-events: none;
    transition: .25s;
    letter-spacing: 1px;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}


#login-box form #login {
    margin: 0 auto;
    display: flex;
    height: 25px;
    color: #000000;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 1px;
    margin-bottom: 40px;
    letter-spacing: 4px;
    background-color: transparent;
    border: none;
    margin-top: 80px;
    cursor: pointer;

}

#login-box form a:hover {
    cursor:pointer;
}
#F{
    text-decoration: none;
    color: #000000;
}
.fs-container {

    display: flex;
    text-decoration: none;
    color: #000000;
    justify-content: center;


}

#fs{
    display: inline;
    align-items: center;
    justify-content: center;
}

#signup{
margin: 0 auto;
display: flex;
height: 25px;
color: #000000;
font-size: 25px;
text-transform: uppercase;
margin-top: 1px;
margin-bottom: 12px;
letter-spacing: 4px;
background-color: transparent;
border: none;
margin-top: 50px;
cursor: pointer;
}

#signup-page{
    text-decoration: none;
    color: #000000;
    margin-left: 10px;
}
#image{
    width: 15%;
    top: 10px;
    right: 10px;
    position: absolute;
    filter: drop-shadow(3px 3px 5px rgb(47, 46, 46));

}