body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
body {
    background: radial-gradient(at center, #ffffff, #b1b1b1,#ffffff);
    background-size: 500% 500%;
 }