*{
    box-sizing: border-box;
}
#chatBtn {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
}

.btns{
    background-color: #b5b5b51a;
    color: rgb(0, 0, 0);
    height: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    border: 2px solid rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    
}

#create-icon{
    font-size: 1.5rem;
}

.btns:hover{
    cursor: pointer;
    background-color: #707070;
}

#create-icon{
    background-image: url("./src/create-icon.png");
}

button#createBtn{
    width: 17rem;
}

button#joinBtn{
    width: 8rem;
}



