*{
    box-sizing: border-box;
}
#chatBtn {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
    align-items: center;
}

.btns{
    background-color: #fff;
    color: black;
    height: 4rem;
    font-weight: 600;
    font-size: 1.25rem;
    border-radius: 1.5rem;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    border: 4px solid #A9B5DF;
    width: 17rem;
    background-color: #bbc4e6;
}



#create-icon{
    font-size: 1.5rem;
}

.btns:hover{
    cursor: pointer;
    background-color: #A9B5DF;
    color: #fff;
}

#create-icon{
    background-image: url("./src/create-icon.png");
}

button#createBtn{
    width: 17rem;
}

button#joinBtn{
    width: 8rem;
    /* background-color: black; 
    border: black;
    color: white;  */
}

.btns:active{
    height: 4.5rem;
}

button#joinBtn:active{
    width: 8.5rem;
}

button#createBtn:active{
    width: 17.5rem;
}

