

.container {
    display: flex;
    position: fixed;
    right:0%;
    top: 0%;
    bottom: 0%;
    align-items:center;
    background-color: #66666617;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 15px 25px rgb(0, 0, 0);
}

.login-box {
    background: #4f4f4f13;
    width: 320px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 15px 25px rgba(0,0,0,4);
}

.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #000000;
    text-align: center;
    cursor:default;
}

.user-box {
    position: relative;
}

.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    background: transparent;
}

.user-box label {
    position: absolute;
    left: 0;
    top: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #000000;
    pointer-events: none;
    transition: .25s;
}

.user-box input:focus ~ label,
.user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #000000;
    font-size: 12px;
}


.login-box form #login {
    margin: 0 auto;
    display: flex;
    height: 20px;
    color: #000000;
    font-size: 16px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s;
    margin-top: 1px;
    margin-bottom: 12px;
    letter-spacing: 4px;
    background-color: transparent;
    border: none;

}

.login-box form a:hover {
    color: #000000;
    transition: 5ms;
    cursor:pointer;
}
.F{
    display: flex;
    text-decoration: none;
    color: #000000;
    justify-content: center;

}
