body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
body {
    background: radial-gradient(at center, #ffffff, #b1b1b1,#ffffff);
    background-size: 500% 500%;
    animation: gradient 6s ease infinite;

 }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }